/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}